[user]
	email = hi@colinmarc.com
	name = Colin Marc
	signingkey = /Users/colinmarc/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/PublicKeys/1e58cef08dc0b23400900d3df84c8ecd.pub
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/colinmarc/.ssh/allowed_signers
[include]
	path = ".gitconfig.aliases"