[user]
	email = hi@colinmarc.com
	name = Colin Marc
	signingkey= ~/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/colinmarc/.ssh/allowed_signers
[include]
	path = ".gitconfig.aliases"
[commit]
	gpgsign = true
[core]
	hooksPath = /home/colinmarc/.config/git/hooks
