window {
    padding: 1px;
    font-family: Inconsolata, monospace;
    background: #16161D;
    color: #DCD7BA;
}

#workspaces button {
    padding: 1px;
    margin: 1px;
    border-radius: 5px;
}

#workspaces button.focused {
    border: 1px solid #DCD7BA;
}

#workspaces button.urgent {
    color: #FF9E3B;
}

#mpd,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#clock,
#window {
    padding-left: 8px;
    padding-right: 8px;
}
